<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>林威的博客</title>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/blogLeft.css}">

    <link rel="stylesheet" th:href="@{/css/user/user.css}">
</head>
<body>
<div th:replace="html/common/header::header"></div>
<div class="main">
    <div th:replace="html/common/blogLeft::blogLeft"></div>
    <div class="main-right fl">
        <div class="main-right_comment">
            暂未开放
        </div>
    </div>
    <div class="clear"></div>
</div>
<script th:src="@{/js/common/util.js}"></script>
</body>
</html>
