<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>林威的博客</title>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/friendlylink.css}">

</head>
<body>
<div th:replace="html/common/header::header"></div>
<div class="main">
    <div class="main_wrapper">
        <!--友情链接-->
        <div class="friendlinks">
            <div class="head">友&nbsp;情&nbsp;链&nbsp;接</div>
            <div class="content-list">
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/common/util.js}"></script>
<script th:src="@{/js/friendlink.js}"></script>

</body>
</html>